::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: -webkit-linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Campton Bold";
  src: local("Campton Bold"), url(./fonts/CamptonBold.otf) format("opentype");
}

@font-face {
  font-family: "Arimo";
  src: local("Arimo Regular"), url(./fonts/Arimo-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Impact";
  src: local("Impact"), url(./fonts/impact.ttf) format("truetype");
}

@font-face {
  font-family: "Verdana";
  src: local("Verdana"), url(./fonts/Verdana.ttf) format("truetype");
}

.flex {
  display: flex;
}
